<header id="fic-site-header">
  <div class="fic-topbar">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="fic-top-actions d-flex align-items-center">
        <ds-themed-lang-switch></ds-themed-lang-switch>
        <ds-themed-auth-nav-menu></ds-themed-auth-nav-menu>
      </div>
      <div class="fic-top-logos" routerLink="/home" [attr.aria-label]="'home.title' | translate" role="button" tabindex="0">
        <img src="assets/custom/images/fic-white.png" alt="FIC" class="fic-top-logo">
        <img src="assets/custom/images/uat-white.png" alt="UAT" class="fic-top-logo">
      </div>
    </div>
  </div>

  <div class="fic-nav-bar">
    <div class="container d-flex flex-row flex-nowrap align-items-center justify-content-between">
      <div class="fic-system-name" routerLink="/home">RIFIC</div>
      <nav class="fic-main-nav" *ngIf="!(isMobile$ | async)">
        <ds-themed-navbar></ds-themed-navbar>
      </nav>

      <div class="fic-nav-actions ml-auto d-flex flex-row flex-nowrap align-items-center">
        <ds-themed-search-navbar></ds-themed-search-navbar>
        <ds-impersonate-navbar></ds-impersonate-navbar>

        <button *ngIf="isMobile$ | async"
                class="btn fic-menu-toggle ml-2"
                type="button"
                (click)="toggleNavbar()"
                [attr.aria-label]="'nav.toggle' | translate"
                aria-controls="collapsible-mobile-navbar">
          <span class="fas fa-bars fa-fw toggler-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="fic-mobile-nav" *ngIf="isMobile$ | async">
    <div class="container">
      <ds-themed-navbar></ds-themed-navbar>
    </div>
  </div>
</header>
