<footer class="fic-footer">
  <div class="fic-footer__main">
    <div class="container">
      <div class="fic-footer__grid">
        <section>
          <img src="assets/custom/images/fic-white.png" alt="Siglas FIC">
          <p>
            {{ 'custom.footer.description' | translate }}
          </p>
        </section>

        <section>
          <h2>{{ 'custom.footer.contact.title' | translate }}</h2>
          <p>{{ 'custom.footer.contact.campus' | translate }}</p>
          <p>{{ 'custom.footer.contact.phone' | translate }}</p>
          <p>{{ 'custom.footer.contact.email' | translate }}</p>
        </section>

        <section>
          <h2>{{ 'custom.footer.links.title' | translate }}</h2>
          <ul>
            <li><a routerLink="/community-list">{{ 'custom.footer.links.communities' | translate }}</a></li>
            <li><a routerLink="/search">{{ 'custom.footer.links.search' | translate }}</a></li>
            <li><a routerLink="/statistics">{{ 'custom.footer.links.stats' | translate }}</a></li>
            <li *ngIf="showSendFeedback$ | async"><a routerLink="info/feedback">{{ 'custom.footer.links.feedback' | translate }}</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>

  <div class="fic-footer__legal">
    <div class="container d-flex flex-wrap align-items-center justify-content-between">
      <p>© {{ dateObj | date:'y' }} {{ 'custom.footer.legal.copyright' | translate }}</p>
      <ul>
        <li *ngIf="showCookieSettings">
          <button class="btn btn-link" type="button" (click)="openCookieSettings()">{{ 'footer.link.cookies' | translate}}</button>
        </li>
        <li *ngIf="showPrivacyPolicy"><a routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a></li>
        <li *ngIf="showEndUserAgreement"><a routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a></li>
        <li><a routerLink="info/accessibility">{{ 'footer.link.accessibility' | translate }}</a></li>
      </ul>
    </div>
  </div>
</footer>
