$font-family-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$fic-blue: #0C4467;
$fic-blue-soft: #779FB6;
$fic-green: #5f6e2c;
$fic-copper: #BA6124;
$fic-copper-soft: #ECB06F;
$fic-ink: #24333D;
$fic-light: #F6F7F6;

$theme-colors: (
  primary: $fic-green,
  secondary: $fic-ink,
  success: $fic-green,
  info: $fic-blue-soft,
  warning: $fic-copper-soft,
  danger: #B84444,
  light: $fic-light,
  dark: #0A0A0A
);

$link-color: $fic-blue;
$border-radius: 0;
$btn-border-radius: 0;
$card-border-radius: 0;
