// Override or add CSS variables for your theme here

:root {
  --ds-header-bg: #fff;
  --ds-header-logo-height: 78px;
  --ds-header-logo-height-xs: 56px;
  --ds-header-icon-color: #2d3d45;
  --ds-header-icon-color-hover: #2B7A4D;
  --ds-home-news-background-color: #f8fbf9;
  --ds-home-news-link-color: #2B7A4D;
  --ds-home-news-link-hover-color: #0C4467;
  --ds-footer-bg: #0f151a;
  --ds-top-footer-bg: #24333D;
  --ds-footer-border: none;
}
